.card-container{
    border-radius: 5px;
    transition: 1s;
    padding: 10px;
    background-color: gray;
    border: black 3pt;
    border-style: solid;
}

.card-container:hover{
    transform: scale(1.2);
}


/* .card-container{
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 0px 10px #999;
    display: flex;
    flex-direction: column;
    background-color: white;
    height:fit-content;
    margin-left: 30px;
    border-color:black;
    border-width: 20px;
} */
/* .card-image{
    border-radius: 1rem 1rem 0 0;
    width: 100%;

    
} */
.card-description
.card-title
{
    width: 100%;
    border-radius: 0.5rem 5%;
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 40px;
    
}

