.header{
    display:flex;
    flex-direction:column;
    gap:9px;
    align-items: center;
    width:100%;
    margin-top: 30px;
} 
.text{
    color: black;
    font-family:"arial";

}
.submit{
    background-color: lightblue;
    margin-bottom: 10px;
    padding:20px;
    border-radius: 8px;

}
.password{
    background-color: lightcoral;
    margin:10px;
    padding:20px;
    border-radius:10px;
}
.input{
    display:flex;
    align-items: center;
    margin: auto;
    width:480px;
    height:80px;
    background: #eaeaea;
    border-radius: 6px;

}
.input input{
    height: 50px;
    width:400px;
    background:transparent;
    border:none;
    outline:none;
    color: #797979;
    font-size: 19px;
}
