.productContainer{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 100vh;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .productContainer{
        flex-direction: column;
    }
  }
  